* {
    box-sizing: border-box;
}
.bg-y {
    background-color: #f4bc51;
}

body {
    font-family: 'Open Sans', sans-serif;
}
h1 {
    color: #fff;
    font-size: 64px;
    font-weight: 300;
    margin: 20px 0 10px;
}
h2 {
    color: #fff;
    font-size: 48px;
    margin: 20px 0 5px;
}
h6 {
    color: #fff;
    font-size: 14px;
    margin: 10px 0;
}
p {
    color: #fff;
    font-size: 13px;
    margin: 0 0 10px;
    line-height: 22px;

}
.italic {
    font-style: italic;
}
span {
    color: #fff;
    font-size: 14px;
}
em {
    font-weight: 700;
}
a {
    color: #fff;
    text-decoration: none;
}
.w-100 {
    width: 100;
}
.w-40 {
    width: 40%;
}
.w50 {
    width: 50%;
}
.w-60 {
    width: 60%;
}
.w-70 {
    width: 70%;
}
.h-100 {
    height: 100%;
}
.h-680 {
    height: 680px;
    min-height: 680px;
}
.f-row {
    display: flex;
}
.f-col {
    display: flex;
    flex-direction: column;
    
}
.justify-align-center {
    justify-content: center;
    align-items: center;
}
.justify-content-between {
    justify-content: space-between;
}
.text-center {
    text-align: center;
}
.m-r-5 {
    margin-right: 5px;
}
.m-l-5 {
    margin-left: 5px;
}
.my-20 {
    margin: 20px 0;
}
.my-30 {
    margin: 30px 0;
}
#banner-bg {
    background-image: url("../img/banner-bg.png");
    background-position: center center;
    background-repeat: no-repeat;
}
.line-dec {
    background-color: #f4bc51;
    height: 3px;
    width: 60px;
    margin: 20px 0 10px;
}
.line-dec-w {
    background-color: #fff;
    height: 5px;
    width: 326px;
    margin: 30px;
}
#logo {
    height: 150px;
    width: 150px;
}
.btn {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    padding: 14px 20px;
    border: solid 1px #fff;
    border-radius: 30px;
}

.icon-block {
    margin-top: 30px;
}
.icon-bg {
    background-color: #fff;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
}
.icon-bg i {
    color: #f4bc51;
}