* {
    box-sizing: border-box;
}

.bg-y {
    background-color: #f4bc51;
}

.bg-grey {
    background-color: #eee;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    color: #fff;
    font-size: 64px;
    font-weight: 300;
    margin: 20px 0 10px;
}

h2 {
    color: #fff;
    font-size: 48px;
    margin: 20px 0 5px;
}

h4 {
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    margin: 33px 0 10px;
}

h6 {
    color: #fff;
    font-size: 14px;
    margin: 10px 0;
}

p {
    color: #fff;
    font-size: 13px;
    margin: 0 0 10px;
    line-height: 22px;

}

.italic {
    font-style: italic;
}

span {
    color: #fff;
    font-size: 14px;
}

em {
    font-weight: 700;
}

a {
    color: #fff;
    text-decoration: none;
}

.w-100 {
    width: 100%;
}

.w-80 {
    width: 80%;
}

.w-45 {
    width: 45%;
}

.w-40 {
    width: 40%;
}

.w-25 {
    width: 25%;
}

.w-30 {
    width: 30%;
}

.w50 {
    width: 50%;
}

.w-60 {
    width: 60%;
}

.w-70 {
    width: 70%;
}

.h-100 {
    height: 100%;
}

.h-680 {
    height: 680px;
    min-height: 680px;
}

.h-550 {
    height: 550px;
    min-height: 550px;
}

.h-350 {
    height: 350px;
    min-height: 350px;
}

.f-row {
    display: flex;
}

.f-col {
    display: flex;
    flex-direction: column;

}

.justify-align-center {
    justify-content: center;
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.m-auto {
    margin: 0 auto;
}

.m-10 {
    margin: 10px;
}

.m-r-5 {
    margin-right: 5px;
}

.m-l-5 {
    margin-left: 5px;
}

.my-20 {
    margin: 20px 0;
}

.my-30 {
    margin: 30px 0;
}

.mb-5 {
    margin-bottom: 5px;
}

.my-5 {
    margin: 10px 0;
}

.px-15 {
    padding: 0 15px;
}

.py-80 {
    padding: 80px 0;
}

.pb-60 {
    padding-bottom: 60px;
}

.content-p {
    padding: 80px 40px;
}

#banner-bg {
    background-image: url("../img/banner-bg.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#best-offer-bg {
    background-image: url("../img/best-offer-bg.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#contacts-bg {
    background-image: url("../img/contact-bg.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#map-bg {
    background-image: url("../img/contact-right-bg.png");
}

.line-dec {
    background-color: #f4bc51;
    height: 3px;
    width: 60px;
    margin: 20px 0 10px;
}

.line-dec-w {
    background-color: #fff;
    height: 5px;
    width: 326px;
    margin: 30px;
}

#logo {
    height: 150px;
    width: 150px;
}

.btn {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    padding: 14px 20px;
    border: solid 1px #fff;
    border-radius: 30px;
}

.btn-discover {
    background-color: #b94e5e;
    border-color: none;
}

.event-btn {
    color: #121212;
    background-color: #fff;
    font-style: normal;
    margin-right: 20px;

}

.icon-block {
    margin-top: 30px;
}

.icon-bg {
    background-color: #fff;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
}

.icon-bg i {
    color: #f4bc51;
}

.icon-bg-line {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    border: solid 1px #fff;

    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    padding: 0;
}

ul li {
    font-style: italic;
    list-style-type: none;
    color: #7a7a7a7a;
    font-size: 13px;
    margin: 0 0 10px;
}

.offer-text h2 {
    color: #121212;
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 10px;
}

.offer-text h2 span {
    font-size: 32px;
    color: #b94e5e;
    font-weight: 700;
}

.offer-text p {
    color: #4a4a4a;
}

#events {
    background-image: url("../img/events-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

#testimonial-img {
    background-image: url("../img/testimonial-left-image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#testimonial-bg {
    background-image: url("../img/testimonial-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

button {
    color: #121212;
    width: 200px;
    height: 70px;
    margin: 2px 2px;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
}

.event-table {
    background-color: #fff;
}

.bg-grey-light {
    background-color: #eee
}

.bg-grey-dark {
    background-color: #ddd
}

.event-table li {
    height: 105px;
    margin: 0 0 5px;
}

.date-block {
    width: 80px;
    height: 80px;
}

.event-table h4 {
    font-style: normal;
    color: #121212;
    margin: 0 0 4px;
    font-style: normal;
}

.event-type-wc {
    font-size: 13px;
    color: #b94e5e;
    font-style: normal;
}

.event-time {
    color: #4a4a4a;
    font-style: normal;
}

.date-block span {
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
}

.carosel-st span {
    color: #b94e5e;
    font-style: italic;
}

.carosel-st h4 {
    color: #121212;
    margin: 10px 0;
}

.carosel-st p {
    text-align: center;
    margin: 10px 0;
    color: #4a4a4a;
    font-size: 17px;
    font-style: italic;
    line-height: 28px;
    width: 70%;
}

.hover-text {
    width: 90%;
    text-align: center;
    display: none;
    position: absolute;
    top: 140px;
}


.card-hov:hover .hover-text {
    display: flex;
}

.card-hov:hover .hover-icons {
    display: none;
}

#card1 {
    background-color: rgba(244, 188, 81, 0.9);
    position: relative;
}

#card2 {
    background-color: rgba(243, 158, 75, 0.9);
    position: relative;
}

#card3 {
    background-color: rgba(185, 78, 94, 0.9);
    position: relative;
}

#card4 {
    background-color: rgba(232, 104, 89, 0.9);
    position: relative;
}
form {
    font-size: 13px;
}
.input-group input, textarea {
    background-color: rgba(250, 250, 250, 0.1);
    border: none;
    border-bottom: solid 2px #fff;
    padding: 6px 12px;
    line-height: 35px;
    margin-bottom: 30px;
}
textarea::placeholder, input::placeholder {
    color: rgb(212, 212, 212);
}
.input-group textarea {
    height: 165px;
}
input[type=button] {
    padding: 16px 20px;
    color: #fff;
    background-color: #f39e48;
    border: none;
}
footer {
    height: 80px;
    width: 100%;
    background-color: #bfd8d2;
}

footer p {
    color: #333;
    padding-top: 10px;
}